<html>

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viemport" content="width=device-width, initial-scale= 1.0">
    <title> Calculadora</title>
</head>

<body>
    <center>
        <form method="POST ">
            <h2>Dígito Um: </h2>
            <input type="number" name="num1"> <br>

            <h2>Dígito Dois: </h2>
            <input type="number" name="num2"> <br>

            <h2>Operador: </h2>
            <select type="text" id="operador">
                <option hidden>selecione</option>
                <option value="Adição">Adição</option>
                <option value="Subtração">Subtração</option>
                <option value="Multiplicação">Multiplicação</option>
                <option value="Divisão">Divisão</option>
            </select>
            <input type="submit" name="enviar">
        </form>
    </center>
</body>

</html>